/* General Styles*/
body,
html {
	width: 100%;
	height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  background-color: #efefef;
}


p {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 300;
	color: #444;
	letter-spacing: 0.1rem;
}

h3 {
	font-weight: 500;
	color: #444;
}

cite,
content {
	color: #fff;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.text-info {
    background: #B3D144;
    padding: 0.8em 0.8em 0.8em 0.8em;
    border-radius: 5px;
    color: #fff;
}

.text-info:hover {
  background: #99b23b;
  color: #555;
}

.btn-primary,
.btn-primary:active {
	background-color: #99b23b;
	border-color: #555;
	color: #fff;
	margin: 1.3em 0;
	padding: 0.5em;
	font-size: 1.3em;
	font-weight: 300;
}

.btn-outline,
.btn-outline:active,
.btn-outline:focus {
	position: relative;
	top: 0.5rem;
	background-color: #B3D144;
	color: #fff;
	border: none;
	padding: 0.8em 1.2em 0.8em 1.2em;
	font-size: 1.3em;
	font-weight: 500;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.7);
}

.btn-outline:hover {
	background-color: #B3D144;
	border: none;
    color: #555;
}

.btn-form {
    background-color: #B3D144;
    border-color: #444;
    color: #444;
    margin: 1.3em 0;
}

.btn-form:hover{
    background-color: #555;
    border-color: #555;
}

/*================

     Arrow Styles

   ================*/

.arrow-down {
	font-size: 1.8em;
	color: #0082c2;
	position: relative;
	z-index: 10;
	top: 3em;
	bottom: 0;
	left: 0;
	right: 0;
}

.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

.down-arrow {
	color: #fff;
}

.down-arrow:visited,
.down-arrow:hover,
.down-arrow:active {
	color: #fff;
}

@media(max-width:767px) {
  .arrow-down {

	top: 0.1em;
	
	
  }
}


/*Nav Styles*/

.navbar {
	box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.16);
}

.topnav {
	font-size: 14px;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.logo {
	min-height: 12%;
	height: 3.1em;
	display: inline-block;
	position: absolute;
	top: 0.2em;
}

.mark {
	background-color: #fbb044;
}

.navbar {
	box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.16);
}

.topnav {
	font-size: 14px;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.logo {
	min-height: 12%;
	height: 3.1em;
	display: inline-block;
	position: absolute;
	top: 0.2em;
}

.mark {
	background-color: #fbb044;
}

@media(max-width:767px) {
  .nav > li {
	margin-top: 0.9em;
  }

}



/* Header Styles*/

.intro-header {
	padding-top: 4.1em;
	padding-bottom: 0.9em;
	color: #f8f8f8;
	background: url("../assets/talent_header.jpg") no-repeat center center;
	background-size: cover;
	min-height: 50vh;
}

.intro-message {
	padding-top: 4em;
	margin-left: 0.4em;
	min-height: 10vh;
}

.intro-message>h1 {
	margin: 0;
	font-size: 4em;
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.4);
}

.intro-message h3 {
	margin: 0;
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.1em;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.intro-message>p {
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.1rem;
	margin-top: 0.8em;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.white-text {
	color: #fff;
}


/*== HEADER MEDIA QUERIES ==*/

@media(max-width:767px) {
	.intro-header {
		min-height: 50%;
		width: 100%;
        padding-bottom: 1.9em;
	}
	.intro-message {
		padding-bottom: 15%;
	}
	.intro-message>h1 {
		margin-top: 0.2em;
		font-size: 3em;
		line-height: 1.1em;
	}
	.rw-wrapper {
		max-width: 80%;
		padding-left: auto;
		padding-right: auto;
	}
	.rw-words {
		display: block;
		text-indent: 0;
		margin-bottom: 1.5em;
		top: 2em;
	}
}


 


/*================

  BLOCK STYLES
================*/
 .content-section-d {
	padding-bottom: 1.8em;
	background-color: #f8f8f8;
}

.content-section-d {
	padding-bottom: 1.8em;
	background-color: #f8f8f8;
}

.content-section-d h2 {
  padding: 1.1em 0;
  
}

.content-section-d p {
  padding: 0 0 1.2em 0; 
}




/*===============
    Banner
    =================*/

@media(max-width:767px) {
	.tagline {
		margin-top: 1.2em;
	}
}

.banner {
	padding: 20px 0;
	color: #525252;
	background-size: cover;
	background-color: #525252;
}

.banner h2 {
	margin: 0;
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	margin-top: 0;
	text-align: center;
}

.social-button a {
	border: none;
	font-size: 1.8em;
}

.social-button a:hover {
	background-color: #525252;
	color: #fff;
}

@media(max-width:1199px) {
	ul.banner-social-buttons {
		margin-top: 15px;
		padding: 1.4em;
	}
}

@media(max-width:767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}
	ul.banner-social-buttons>li {
		margin-bottom: 20px;
	}
	ul.banner-social-buttons>li:last-child {
		margin-bottom: 0;
	}
}

/*================
   Footer Styles
================*/

footer {
	padding: 2.9em 0;
}

.footer-img {
	width: 100%;
	background: url("../assets/images/footer-3.jpg") no-repeat center center;
	background-size: cover;
	background-position: fixed;
}

a {
	color: #444;
}

p.copyright {
	margin: 15px 0 0;
	color: #444;
}

.footer-logo {
	height: 2.8em;
}

select {
	display: block;
	width: 100%;
	height: 2em;
	color: #555;
	background-color: #fff;
	font-size: 1.2em;
}


/*================
     BACK TO TOP
    ================*/


.back-to-top,
.back-to-top:hover,
.back-to-top:focus {
	cursor: pointer;
	position: fixed;
	bottom: 1.25rem;
	right: 0.125rem;
	display: none;
	border: none;
	background: transparent;
}

/* MENU ANIMATION */

.navbar-toggle {
	border: none;
	background: transparent !important;
}

.navbar-toggle:hover {
	background: transparent !important;
}

.navbar-toggle .icon-bar {
	width: 22px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.navbar-toggle .top-bar {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
	opacity: 0;
}

.navbar-toggle .bottom-bar {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
	-webkit-transform: rotate(0);
	transform: rotate(0);
}














